.line {
    position: absolute;
    width: 1px;
    height: 100px;
    background: var(--color-primary-hairline);
}

.rectangle {
    border: 1px solid var(--color-primary-hairline);
    border-radius: 1px;
}

.top-left {
    top: -1px;
    left: 0;
    transform: rotate(110deg);
    transform-origin: top left;
    border-bottom-left-radius: 5px;
}

.top-right {
    top: 0;
    right: 0;
    transform: rotate(110deg);
    transform-origin: top right;
}

.top-horizontal {
    position: absolute;
    top: calc(103px * cos(110deg));
    left: -94px;
    height: 1px;
    width: 100%;
    background-color: var(--color-primary-hairline);
    border-top-right-radius: 5px;
}

.left-vertical {
    position: absolute;
    top: calc(150px * cos(110deg));
    left: -141px;
    height: 100%;
    width: 1px;
    background-color: var(--color-primary-hairline);
}

.bottom-left {
    bottom: -1px;
    left: -1px;
    transform: rotate(-70deg);
    transform-origin: bottom left;
    border-top-right-radius: 5px;
}

@media (min-width: 1024px) {
    .line {
        height: 150px;
    }

    .top-horizontal {
        top: calc(153px * cos(110deg));
        left: -140px;
    }
}
