@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat-Alt';
    src: url('../assets/fonts/Montserrat-Alt1/MontserratAlt1-Bold.ttf');
}

:root {
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-primary-highlight: #ffc700;
    --color-primary-button: #ffd600;
    --color-primary-light-green: #40c8a5;
    --color-primary-green: #40c8c8;
    --color-primary-dark-blue: #039bb8;
    --color-primary-blue: #29a1f8;
    --color-primary-stroke: #a6eaff;
    --color-primary-background: #000000;
    --color-primary-input-background: #171717;
    --color-primary-text: #ffffff;
    --color-secondary-discord: #9e52ff;
    --color-secondary-github: #b540c8;
    --color-secondary-linkedin: #1867ff;
    --color-secondary-yellow: #ffd600;
    --color-secondary-green: #adff00;
    --color-secondary-red: #ff3d29;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}
