@media (max-width:1200px){

    p{
        font-size: 18px;
    }
    

    /*Intro*/
    #intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    /*About*/
    #about{
        justify-content: center;
        align-items: center;
    }
    .about-tech{
        justify-content: center;
    }
    .about-image{
        width: 300px;
    }


    /*Projects*/
    .header-projects{
        justify-content: center;
    }


    
    .project-text-wrapper{
        width: 0px;
    }


    .project-text1, .project-text2{
        background-color: transparent;
        box-shadow: 0 0 0 0;
    }
    .project-text1{
        left:-475px;
    }
    .project-text2{
        right:-475px
    }


    .project-text-header1{
        position:absolute;
        top: -150px;
        left:-525px;

        z-index: 2;
    }
    .project-text-footer1{
        position:absolute;
        top:0px;
        left:-475px;

        z-index: 2;
    }
    .project-text-header2{
        position:absolute;
        top: -150px;
        right:-525px;

        z-index: 2;
    }
    .project-text-footer2{
        position:absolute;
        top:0px;
        right:-500px;

        z-index: 2;
    }




    .project-image-wrapper1::before{
        background-color: var(--background-transparent);
        left:250px;
    }
    .project-image-wrapper1:hover::before{
        content:'';
        background-color: var(--background-transparent);
        transition:var(--basic-transition);
    }
    .project-image-wrapper2::before{
        background-color: var(--background-transparent);
        left: 250px;
    }
    .project-image-wrapper2:hover::before{
        content:'';
        background-color: var(--background-transparent);
        transition:var(--basic-transition);
    }

}

@media (max-width:950px){

        /*Main*/
    p{
        font-size: 16px;
    }

    h3{
        font-size: 30px;
    }

    .section-container{
        min-width: 300px;
    }
    section{
        min-width: 375px;
    }

    .header-line{
        width: 0px;
    }

   .social-container{
    display: none;
    }
    /*Main End*/


    /*Header*/
    .logo{
        width:100vw;
    }
    nav{
        min-width: 300px;
        height: 200px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .cv-load{
        display: none;
    }
    nav a{

        margin-right: 10px;
    }
    /*Header End*/

    /*Intro*/
    #intro{
        text-align: center;
    }
    .my-description{
        width: 300px;
    }

    /*Intro End*/



    /*About*/

    #about{
        flex-direction: column;
        height: 1000px;
    }
    .about-content-container{

        width: 350px;
    }
    .about-head-line{
        width: 300px;
        justify-content: center;

    }
    .about-text{
        width: 300px;
        min-width: none;
    }
    .about-tech{
        margin-left: 25px;
        width: 300px;
    }

    .resize{
        height: 1000px;
    }

    /*About End*/

    /*Work*/

    .header-work{
        justify-content: center;
    }



    .exp{
        flex-direction: column;
        align-items: center;
    }
    .work-exp-wrapper{
        margin-top: 25px;
        width: 300px;
        height: 700px;

        display: flex;
        justify-content: center;
    }

    .work-menu{
        flex-direction: row;
        width: 350px;
    }

    #current-text, #CSOB-text, #Havas-text{
        width: 350px;
    }



    .button-work{
        border: none;
        height: 50px;
        border-bottom: 1px solid var(--main-text-opacity);
        text-align: center;
    }
    .button-work:hover{
        border-bottom: 3px solid var(--special-red);
    }
    .apply-hover{

        border-bottom:3px solid var(--special-red);
    }
}

@media(max-width:400px){

    .project-text1, .project-text2{
        width: 350px;
    }
    .project-text1{
        left:-350px;
    }
    .project-text2{
        right:-350px;
    }

    .project-img{
        height: 200px;
        width: 350px;
        opacity: 0.35;
    }


    .project-image-wrapper1::before{
        visibility: hidden;
    }
    .project-image-wrapper2::before{
        visibility: hidden;
    }
}