.contact-content{
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact-content h3{
    padding:0px;
    margin: 0px;
}
.contact-content h4{
    margin: 5px;
    font-size:18px;
    font-family: special;
}
.contact-content p{
    width: 500px;
    text-align: center;
}