/* Header */
header{
    position: absolute;
    width: 100vw;
    height: 100px;

    display: flex;

}
    /*Logo*/
    .logo{
        width: 100px;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        transition-duration: 1200ms;
    }

    /*Menu*/
    nav{
        position: absolute;

        width: 40vw;
        height: 100px;
        min-width: 550px;
        right: 0;


        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav li{
        list-style-type:upper-roman;
        color:var(--special-red);
    }
    nav a{
        margin-right: 35px;

        text-decoration: none;
        color: var(--special-red);

        font-family: basic;
    }

    .menu{
        opacity: 0;
        transition-duration: 1200ms;
    }


    .cv-load{
        border:1px solid var(--special-red);
        border-radius: 4px;
        transition: var(--basic-transition);
        padding: 10px;
        opacity: 0;
    }
        .cv-load:hover{
            background-color:var(--hover-red);
            transition: var(--basic-transition);
        }
    

    .menu-hover{
        color: var(--main-text);
        transition: var(--basic-transition);
    }
        .menu-hover:hover{
            color:var(--special-red);
            transition: var(--basic-transition);
        }


/* Header End */

/*Social-links Left*/
.social-container{

    position:fixed;
    min-height:650px;
    width: 100px;
    height: 100vh;


    display: flex;
    align-items: flex-end;
    justify-content: center;

    opacity: 0;
    transition-duration: 1200ms;
}

.social-container li{
    transition:var(--basic-transition);
    padding: 0;
    margin: 0;
}
.github{
    list-style-image: url('../media/menu-logo/github.svg');
    position: absolute;
    bottom: 130px;
}
.codepen{
    list-style-image: url('../media/menu-logo/codepen.svg');
    position: absolute;
    bottom: 75px;
}
.freecodecamp{
    list-style-image: url('../media/menu-logo/freecodecamp.svg');
    position: absolute;
    bottom: 30px;
}
.github:hover{
    list-style-image: url('../media/menu-logo/github-hover.svg');
    bottom: 135px;
}
.codepen:hover{
    list-style-image: url('../media/menu-logo/codepen-hover.svg');
    bottom: 80px;
}
.freecodecamp:hover{
    list-style-image: url('../media/menu-logo/freecodecamp-hover.svg');
    bottom: 35px;
}
/*Social End*/

/*Main Text*/

.my-description{
    width: 500px;
    min-width: 300px;
    padding-bottom: 25px;
}

.callToAction{
    border:1px solid var(--special-red);
    border-radius: 4px;
    padding: 10px;

    text-decoration: none;
    color:var(--special-red);

    font-family: special;

    transition: var(--basic-transition);
}
    .callToAction:hover{
        background-color: var(--hover-red);
        transition: var(--basic-transition);
    }
/*Main Text End*/

/*Arrow to the top*/
#arrow {
    width: 10px;
    height: 10px;
    border: solid var(--special-red);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: 50px;

    visibility: hidden;

    transition: var(--basic-transition);
    
}
#arrow:hover{
    width: 20px;
    height: 20px;
    transition: 400ms linear;
    border-color: white;
}

.arrow-wrapper{
    height: 100vh;
    width: 100px;
    position: fixed;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 3;
}
  
/*Arrow End*/