/* Loading Div */
/*-------------*/
.loading-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    background-color: var(--background-special);
}
.loader{
    height: 200px;
    width: 200px;
    background-image: url('../media/logo/logo-anim.svg');
}


/* Reveal Elements when Loading is Completed */
/*-------------*/

