/*Font import*/
@font-face {
    src: url('../Font/Calibre-Regular-b0d4cbb1201155ddccc21d1b8059a670.woff2');
    font-family: basic;
}

@font-face {
    font-family: special;
    src: url('../Font/SFMono-Regular-8799e6387338d58f2f137df821c86eb4.woff2');
}

@font-face{
    font-family: header;
    src: url('../Font/Calibre-Semibold-94fc73852539d6733dc0d80252c5e3fb.woff2');
}
/*Font End*/

/*Variables*/

:root{

    /* Colors */
    --background:#0a192f;
    --background-special:#071120;
    --background-transparent:#0a192fd7;
    --background-light:#112240;
    --main-text:#8892b0;
    --main-text-opacity:rgba(136, 146, 176,0.5);
    --special-red:#B9314F;
    --hover-red:rgba(82, 13, 28, 0.40);
    --selected:#233554;


    /* Transition */
    --basic-transition: 400ms ease-in-out;
}
/*Variables End*/

/*Scrollbar*/
::-webkit-scrollbar{
    width:6px;
    z-index: -1;
}
::-webkit-scrollbar-track{
    background-color:var(--background);

}
::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 10px;
}
/*Scrollbar End*/

::selection{
    background-color: var(--selected);
    color: white;
}

html{
    scroll-behavior: smooth;
}

/*Headers*/
h1,h2,h3,h4{font-family: header;}
h1{
    font-size: 64px;
    color: white;

    margin: 0;
}
h2{
    font-size: 52px;

    margin: 0;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 28px;
}
/*Headers End*/

/*Common styles*/
p{
    font-family: basic;
    font-size: 20px;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    color:var(--main-text);
}
.container{
    background-color:var(--background);
}

.section-container{    
    
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section{
    min-height: 600px;
    min-width: 1000px;

    padding: 0;
    margin: 0;

    opacity:0;
    transition-duration: 1200ms;
}

/*Global styles*/

.header-line{
    border-top:1px solid var(--main-text-opacity);
    width: 360px;
    height: 2px;

    margin-left: 10px;
}

.header-number{
    color:var(--special-red);
}
.header-color{
    color:white;
}

/*Reveal Content*/
.fade-in{
    opacity: 0 !important;
    transition-duration: 1200ms;
}
.appear{
    opacity: 1 !important;
}

