/*Section*/
#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Section End*/

/*HeadLine*/
.header-work{
    display: flex;
    align-items: center;
}
/*HeadLine End*/

/*Work exp*/
.exp{
    width: 700px;
    height: 300px;

    display: flex;
    flex-direction: row;

    column-gap: 25px;
}
    /*ExpMenu*/
    .work-menu{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 300px;
    }

    .button-work{
        width: 150px;
        height: 35px;

        font-family:basic;
        font-size: 18px;
        text-align: left;

        padding-left:15px;

        background-color: var(--background);
        color: var(--main-text);

        border: none;
        border-left: 1px solid var(--main-text-opacity);

        cursor: pointer;

        transition:var(--basic-transition);
    }

    .button-work:hover{
        color:var(--special-red);
        background-color:var(--background-light);
        transition:var(--basic-transition);
    }

    /*For JS button interaction*/
    .apply-hover{
        color:var(--special-red);
        background-color:var(--background-light);
        border-left:3px solid var(--special-red);
    }
    /*ExpMenuEnd*/

    /*Marker*/
    .work-exp-wrapper ul{
        margin:0px;
        padding-left:15px;
        list-style-position: outside;
    }
    .work-exp-wrapper li::marker{
        font-size: 1.75rem;
        color:var(--special-red);
        width: 10px;
        height: 100px;
        background-color: red;
    }


    /*Text content*/
    .work-exp-wrapper h4{
        margin:0px;
    }
    .work-exp-wrapper p{
        margin-top: 0;
        font-size: 16px;
        font-family: special;
    }
    #current-text, #CSOB-text, #Havas-text{
        width: 475px;
        height: 300px;
        
        opacity:1;

        font-family: basic;
        font-size: 18px;

        position: absolute;

        display: flex;
        flex-direction: column;

        justify-content:start;
        align-items: flex-start;

        text-align: justify;

        transition: var(--basic-transition);
        
    }
        .work-exp-wrapper a{
            color:var(--special-red);
            text-decoration: none;
        }
        /*Link Header CSOB*/
        #CSOB-text a::after{
            content: '';
            position: absolute;
            top:15px;
            left: 0px;
            height: 10px;
            width: 0px;
            border-bottom: 1px solid var(--background);
            transition: var(--basic-transition);
        }
        #CSOB-text a:hover::after{
            border-bottom:1px solid var(--special-red);
            width: 65px;
            transition: 400ms linear;
        }
        /*Link Header Havas*/
        #Havas-text a::after{
            content: '';
            position: absolute;
            top:15px;
            left: 0px;
            height: 10px;
            width: 0px;
            border-bottom: 1px solid var(--background);
            transition: var(--basic-transition);
        }
        #Havas-text a:hover::after{
            border-bottom:1px solid var(--special-red);
            width: 70px;
            transition: 400ms linear;
        }
        


    



/*Work exp end*/